#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: #f8f8ff !important;
}

header {
  width: 100%;
  background-color: #333; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
}

.navbar .logo a {
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav_items {
  padding-right: 2rem;
  padding-top: 1rem;
  display: flex;
  list-style: none;
}

.nav_items li {
  margin-left: 2rem; 
}

.nav_items a {
  text-decoration: none;
  color: white; 
  font-size: 1rem;
  font-weight: bold;
}

.nav_items a:hover {
  text-decoration: underline; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#title{
  font-weight: bold;
  color: black;
}

.form_container{
  display: block;
  border-radius: 15px;
  background-color: white;
  border: 2px solid black;
  height: 500px;
  width: 350px;
  margin: auto;
}

#submit_container{
  padding: 15px;
}

label{
  font-size: 24px
}



